.promo {
  padding: 10px 0;
}

.promo__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.promo__contenr {
  padding-right: 65px;
}

.proto__buttons > * {
  margin-right: 44px;
}
